<div class="container">
  <div class="row">

    <div class="col-md-8 col-md-offset-2">

      <%= form_with(model: user, local: true, url: {controller: 'me', action: "update"}) do |f| %>

        <div class="form-group">
          <label for="about">About</label>
          <%= f.text_area :about, class: "form-control", :rows=>"5" %>
        </div>

        <div class="form-group">
          <label for="hobbies">Hobbies</label>
          <%= f.text_area :hobbies, class: "form-control", :rows=>"5" %>
        </div>

        <div class="form-group">
          <label for="gender">Gender</label>
          <%= f.select :gender, [["Мужской", "Мужской"],["Женский", "Женский"],["Другой.", "Другой."]], {}, { :class => "form-control" } %>
        </div><br />

        <div class="form-group">
          <%= f.submit 'Update user', :class => 'btn btn-primary' %>
        </div>

      <% end %>
    </div>

    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this me from being saved:</h2>

        <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  </div>
</div>