<%= form_with(model: user, local: true, url: {controller: 'me', action: "update"}) do |form| %>

  <%= form.label :about %>:
  <%= form.text_area :about %><br />
  <%= form.label :hobbies %>:
  <%= form.text_area :hobbies %><br />
  <div class="form-group">
    <%= form.label :gender %>:
    <%= form.select :gender, [["Мужской", "Мужской"],["Женский", "Женский"],["Другой.", "Другой."]], {}, { :class => "form-control" } %>
  </div><br />


  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this me from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
