<div class = "card_div">
  <div><%=card.title %></div>
  <div><%= card.name %></div>
  <div><%= card.event_date %></div>
  <div><%= card.max_users_count %></div>
  <div><%= link_to card.title, card %></div>
</div>