<p id="notice"><%= notice %></p>



<div class="container col-11 btn-create padding-top-bot flex-d">
  <div class="col-3 flex-center">
    <pre class="events-text"> Все предстоящие события</pre>
  </div>
  <div class="col-md-4 col-lg-3 offset-md-5 offset-lg-6 col-sm-4 offset-sm-5">
    <button type="button" class="btn btn-create-grad btn-create btn-vw">
      <%= link_to 'Создать событие', new_card_path %>
    </button>
  </div>
</div>

<div class="container col-11 border shadow-sm rounded-lg main-index" >
  <div class="row justify-content-center">
    <div class="col-9">
      <% @cards.each do |card| %>
        <%=render 'card', card:card %>
      <% end %>
    </div>
    <div class="col-3">
      <div class="cats-right">
        <h3>Категория</h3>
        <div class="cat">
            <div class="container">
              <div class="row">
                  <%= form_with(url: cards_path, method: "get",local: true) do |form|%>
                    <% @categories.each do |cat| %>
                      <%= form.label cat.name %>
                      <% if @checked_categories && @checked_categories.find { |check_cat| check_cat.to_i == cat.id }%>
                        <%= form.check_box "categories", {multiple: true, checked: true}, cat.id, nil %>
                      <% else %>
                        <%= form.check_box "categories", {multiple: true}, cat.id, nil %>
                      <% end %>
                    <% end %>
                    <%= submit_tag("ПЫШ") %>
                  <% end %>
                <div class="w-100"></div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

