<div class="empty-block" style="display:block;height:100px;"></div>

<p id="notice"><%= notice %></p>


<div class="container padding-top-bot flex-d">
  <div class="col-3">
	<h1>Cобытия</h1>
    <div class="events-text">Все предстоящие события</div>
  </div>
  <div class="col-md-4 col-lg-3 offset-md-5 offset-lg-6 col-sm-4 offset-sm-5">
    <button type="button" class="btn btn-create-grad btn-create btn-vw">
      <%= link_to 'Создать событие', new_card_path %>
    </button>
  </div>
</div>

<div class="container border shadow-sm rounded-lg main-index" >
  <div class="row justify-content-center">
    <div class="col-9">
      <% @cards.each do |card| %>
        <%=render 'card', card:card %>
      <% end %>
    </div>
    <div class="col-3">
      <div class="cats-right">
        <h3>Категория</h3>
        <div class="cat">
            <div class="container">
              <div class="row column flex-center">
                  <%= form_with(url: cards_path, method: "get",local: true) do |form|%>
                    <% @categories.each do |cat| %>
                      <div>
                        <div class="pipe red"></div>
                        <% if @checked_categories && @checked_categories.find { |check_cat| check_cat.to_i == cat.id }%>
                          <%= form.check_box "categories", {multiple: true, checked: true}, cat.id, nil%>
                        <% else %>
                          <%= form.check_box "categories", {multiple: true}, cat.id, type:"checkbox" %>
                        <% end %>
                        <%= form.label cat.name %>
                      </div>
                    <% end %>
                    <%= submit_tag("ПЫШ") %>
                  <% end %>
                <div class="w-100"></div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

