<p id="notice"><%= notice %></p>

<div class="container col-11 btn-create padding-top-bot flex-d">
  <div class="col-3 flex-center" style="padding-top: 10px;">
    <h1 class="events-text">
      <%= @card.title %>
    </h1>
  </div>
  <div class="col-md-4 col-lg-3 offset-md-5 offset-lg-6 col-sm-4 offset-sm-5">
    <button type="button" class="btn btn-create-grad btn-create btn-vw">
      <% if @card.users.find {|user| user.id == current_user[:id]}  %>
          <%= link_to "Отказаться", unsubscribe_card_path(id: @card.id, user_id: current_user[:id]), method: :post, class:"white" %>
      <% else %>
        <% if is_free_places?(@card) %>
            <%= link_to "Присоединиться", subscribe_card_path(id: @card.id, user_id: current_user[:id]), method: :post, class:"white"%>
        <% else %>
          <h5 class="white"> Места закончились </h5>
        <% end %>
      <% end %>
    </button>
  </div>
</div>

<div class="flex-container">
  <div class="width-50 show-block">
    <div class="big-image"></div>
    <h2 class="width-100 center-text">Описание</h2>
    <h3>
      <%=@card.name %>
    </h3>
    <h4>Когда: <%= @card.event_date %></h4>
    <h4>Кто идёт: <%= count_of_users(@card) %></h4>
    <h7 class="gray-text"><%=@card.users.map(&:name).join(", ") %></h7><br>

  </div>

  <div class="chat width-50 show-block">
    <%# app/views/chats/index.html.erb %>

    <div class="">
      <div class="row padding-160">
        <div class="width-90 chat-window">
          <div class="chat-title">
            Чатик
          </div>
          <div>
            <div class="chat-box py-2" id="chat-el">
              <h4 class="username d-none mb-3"></h4>
              <% @messages.each do |chat| %>
                <div class="col-12">
                  <div class="chat bg-secondary d-inline-block text-left text-white mb-2">
                    <div class="chat-bubble">
                      <small class="chat-username"><%= chat.username %></small>
                      <p class="m-0 chat-message"><%= chat.message %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="chat-text-input">
              <%= form_with(model: @message, remote: true, format: :json, id: 'card-form', url: {controller: :cards, action: :create_message}) do |form| %>
                <% if @message.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@message.errors.count, "error") %> prohibited this chat from being saved:</h2>
                  </div>
                <% end %>
                <div class="field position-relative">

                  <%= form.text_field :message, id: :message, required: true, class:"msg_input", placeholder: "Введите сообщение" %>
                  <%= form.hidden_field :username, id: :username  %>
                  <%= form.hidden_field :chat_id, id: params["id"]  %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-inner"><%= link_to 'Back', cards_path %></button>
  <button type="button" class="btn btn-inner"><%= link_to 'Edit', edit_card_path(@card) %></button>
</div>
